{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Old+Standard+TT&display=swap&subset=cyrillic" rel="stylesheet">
    <title>Сайт о Алене</title>
  </head>

  <body>
    <div class="container">
    <header class="page-header">
      <a class="header-email" href ="https://vk.com/aleshka2507">Алена в Вк</a>
      <a class="header-phone" href ="https://instagram.com/___bad____girl______?igshid=nnffae534cek">Алена в Интаграмме</a>
    </header>

    <section class="hero-image">
      <h1 class="heading">Алёна Федорова</h1>
      <p>Фактики о ней:</p>
      <ul class="hr">
        <li>Играет на гитаре</li>
        <li>Добрая,милая,красивая</li>
        <li>Хорошая хозяйка</li>
        <li>Вкусно готовит</li>
        <li>Пропадает на миллион лет</li>
        <li>Хочет знать хорошо физику</li>
      </ul>  
    </section>

    <section class="intro">
      <h2 class="subheading">Давайте познакомимся с ней</h2>
      <figure class="user-image">
        <img src="{% static 'css/img/alena1.jpg' %}" width="700" height="800" alt="Фотография Алены">
      </figure>
      <div class="child">
        <h3>Любитель гитары</h3>
        <video  class="user-video" src="{% static 'css/video/gitara.mp4' %}" type = "video/mp4" controls = "controls" height = 100% width="300"></video>
      </div>
      <div class="child">
        <h3 class="child1">Хорошая сестра</h3>
        <img  src="{% static 'css/img/sestra.jpg' %}" height = "550" width="500">
      </div>
      <div class="child">
        <h3 class="child1">Любит природу</h3>
        <img  src="{% static 'css/img/pri.png' %}" height = "500" width="500">
      </div>
      <div class="child">
        <h3 class="child1">Наши глаза</h3>
        <img  src="{% static 'css/img/gla.png' %}" height = "500" width="500">
      </div>
      <div class="skills">
        <h3>Ее параметры:</h3>
        <dl class="skills-list">
          <dt class="skill-html">Красота</dt>
          <dd class="level"><div style="width: 97%;">100%</div></dd>
          <dt class="skill-css">Ум</dt>
          <dd class="level"><div style="width: 87%;" class = "level2">100%</div></dd>
          <dt class="skill-vr">Умение пропадать ненадолго</dt>
          <dd class="level"><div style="width: 10%;" class ="level1">10%</div></dd>
          <dt class="skill-sm">Юмор</dt>
          <dd class="level"><div style="width: 78%;" class ="level3">78%</div></dd>
        </dl>
      </div>
    </section>

    <section class="portfolio">
      <h2 class="subheading">И еще чутка</h2>

      <h3>Наши планы:</h3>
      <div style="float: right;">
        <img src="{% static 'css/img/alena3.png' %}" height = "550" width="500">
      </div>
      <ul>
          <li class ="j1">Увидеться</li>
          <li class ="j2">Покормить тебя</li>
          <li class ="j3">Покатать тебя</li>
          <li class ="j4">Посмотреть "Гладиатор"</li>
          <li class ="j5">Покусать друг друга</li>
          <li class ="j6">Рассказать наши истории</li>
      </ul>
      <h3>И еще немного фактов</h3>
      <ul>
        <li>Родной город-это не Ухта</li>
        <li>Редко заходит в вк просто так</li>
        <li>Слушаешь крутых исполнителей</li>
        <li>Любит фильм "Гладиатор"</li>
        <li>Немного выпивает</li>
        <li>Отжимается много(для девочки)</li>
      </ul>
    </section>

    <footer class="page-footer">
      <div class="container">
        <a class="header-email" href ="https://vk.com/aleshka2507">Алена в Вк</a>
        <a class="header-phone" href ="https://instagram.com/___bad____girl______?igshid=nnffae534cek">Алена в Интаграмме</a>
      </div>
    </footer>
  </div>
  </body>
</html>